



/* Tablet and Mobile: width < 1024px */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }
    #nav .subnav a {
        padding:4px 12px;
    }
    .contact-form .form-control {
        padding:15px;
    }
    
    #footer .list-icons a {
        font-size: 48px;
        padding: 0 8px;
    }
    #footer .content-footer a {
        padding: 13px 0;
        display: inline-block;
    }
    .contact-info p {
        line-height: 36px;
    }
}


/* Tablet: width >= 740px and <1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
    
}

/* PC: width >1024px */
@media (min-width: 64rem) {
    
}

/*  Mobile: width <740px */
@media (max-width: 46.1875em) {

    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .contact-form {
        margin-top: 32px;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }
    .search-header {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color:#fff;
        padding: 1px 41px;
    }
    #content .member-img {
        width:60%;
    }
}