/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Layout all in one, same */
.row {
    padding:0 16px;
}
.row-input {
    padding:11px 10px;
    width:100%;
    border:1px solid #ccc;
}
.mg-15 {
    margin: 15px 0 !important;
}
.col {
    display: block;
    font-size:15px;
}
.row-third {
    margin-left: -8px;
    margin-right: -8px;
}
.col-third {
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third2 {
    width:33.3333%;
}
.col-half {
    width:50%;
}
.col-full {
    width:100%;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
mt-32 {
    margin-top: 32px !important;
}
.row-third::after {
    content:"";
    display: block;
    clear: both;
}
.text-while {
    color:#fff !important;
}
.text-center {
    text-align: center !important;
}
.pull-right {
    float:right !important;
}
.btn {
    margin-bottom:16px;
    padding:12px 16px;
    border:none;
    background-color: #000;
    color:#fff;
    appearance: none;
    -webkit-appearance:none;
}
.btn:hover {
    color:#000;
    background-color: #ccc;
    cursor: pointer;
}
ul li {
    list-style: none;
}
.clear {
    clear:both;
}

.mobile-menu-btn {
    position:absolute;
    top:0;
    right: 0;
}

.mobile-menu-btn,
.search-header {
    color: #fff; 
    float: right;
    padding: 0 24px;
    line-height: 46px;
}
.mobile-menu-btn {
    display: none;
}
#header{
    background-color: #000;
    height:46px;
    position: fixed;
    right:0;
    left:0;
    top:0;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li {
    display: inline-block;
}

#nav li a {
    display: block;
    line-height: 46px;  
    padding:0 24px;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color:#000;
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav .subnav a {
    color:#000;
    min-width: 160px;
    padding:0 12px;
    font-size: 15px;
    text-transform: none;
}

.search-header:hover {
    background-color: #f44336;
    cursor: pointer;
}
.mobile-menu-btn:hover {
    background-color: #ccc;
    color:#000;
}

#slider {   
   margin-top:46px;
   padding-top:50%;
   background: url('../img/slider/slider1.jpg') top center / cover  no-repeat;
   position: relative;
   width:100%;
}

#slider .text-content {
    position: absolute;
    bottom: 46px;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 2px #333;
}

#slider .text-heading {
    font-size: 24px;
    margin: 10px 0;
}
#slider .text-desc {
    font-size:15px;
}
#content .content-section {
    margin-left: auto;
    margin-right: auto;
    padding:64px 0px 112px;
    width: 800px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-heading{
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 500;
    text-align: center;
}
#content .content-desc {
    margin: 15px 0;
    opacity: 0.6;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
#content .about-text {
    text-align: justify;
    line-height: 1.3;
    font-size: 15px;
    letter-spacing: 0.4px;
}
#content .member-list {
    margin:32px 0;
}
#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}
#content .member-img {
    border-radius: 4px;
    width:154px;
}
/* Tour section */
.tour-section  {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
}
.tickets-list li {
    padding: 11px 16px;
    font-size: 15px;
    color:#757575;
    border-bottom: 1px solid #ccc;
}    
.tickets-list .sold-out {
    margin-left: 16px;
    background-color: #f44366;
    padding: 8px 6px;
    color: #fff;
}
.tickets-list .quantity {
    float:right;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 4px 8px;
    margin: -3px 0;
}
.places-list {
    margin-top:16px;
}   
.place-img {
    display: block;
    width:100%;
}
.place-img:hover {
    opacity: 0.6;
}
.place-content {
    background-color: #fff;
    padding:0 16px;
    display: inline-block;
}
.place-heading {
    font-size:15px;
}
.place-time {
    opacity: 0.6;
    font-size:15px;
}
.place-desc {
    font-size: 15px;
}

.modal.open {                 
    display:flex;
    z-index: 1;
}
.modal {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}
.modal-container {
    background-color: #fff;
    position: relative;
    width:900px;
    animation: modalfadein ease 0.4s;
}
.modal-header {
    background-color: #009688;
    height:129px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 4px;
    color:#fff;
}
.modal-close {
    position: absolute;
    right:0;
    padding:8px 16px;
    color:#fff;
}
.modal-close:hover {
    cursor: pointer;
    background-color: #ccc;
    color:#000;
}
.modal-button {
    width:100%;
    height:54px;
    border:none;
    background-color:#009688;
    color:#fff;
}
.modal-button:hover {
    cursor: pointer;
    background-color: #ccc;
    color:#000;
}
.modal-footer {
    float:right;
}
.modal-footer a {
    color:aqua;
}
.contact-content {
    margin-top: 48px;
}
.contact-content .contact-info {
    font-size: 18px;
}
.contact-info i[class*="fa-"] {
    line-height: 1.4;
    width:30px;
}

.contact-info a:hover {
    background-color: #ccc;
    color:#f44336;
    text-decoration: none;
}

.contact-info a:active {
    background-color: #333;
}

.form-control {
    padding: 11px;
    width: 100%;
    border:1px solid #ccc;
}
.form-submit {
    float:right;
    border: none;
    background-color: #000;
    color:#fff;
    padding: 12px 18px;
}
.form-submit:hover {
    background-color: #ccc;
    color:#000;
    cursor: pointer;
}
.map-section {
    width: 100%;
    filter: grayscale(50%);
}

#footer {
    padding:64px 16px;
}

#footer .list-icons a {
    font-size:22px;
    color:rgba(0, 0, 0, 0.6);
}

#footer .content-footer a:hover,
#footer .list-icons a:hover {
    color:rgba(0, 0, 0, 0.4)
}

#footer .content-footer a,
#footer .content-footer {
    font-size:15px;
    color:rgba(0, 0, 0, 0.6);
}
.bars-header {
    display: none;
}

#content-list-mobile {
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: #000;
    height: 195px;
    top: 46px;
    width: 390px;
}
#content-list-mobile li {
    display: block;
    font-size:15px;
    text-transform: uppercase;
    color:#fff;
}

@keyframes modalfadein {
    from {
        transform:translateY(-120px);
        opacity:0;
    }

    to {
        transform:translateY(0);
        opacity:1;
    }
    
}
