.header {
    height: 4.3rem;
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header span {
    float: right;
}

.header__title {
    font-size: 1.8rem;
    float: right;
    color: var(--white-color);
    line-height: 4.3rem;
    padding: 0 1.6rem;
}

/* container */
.container {
    padding-top: 4.3rem;
    min-height: 400px;
    background-color: #f1f1f1 !important;
}

/* navbar */
.navbar {
    background-color: var(--white-color);
    height: 100%;
    animation: navSlideLeft ease-in 0.3s;
    z-index: 3;
    position: fixed;
    width: 200px;
}

@keyframes navSlideLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar__info {
    padding: 1.6rem 0.6rem;
}

.hr {
    border-bottom: 1px solid #eee;
    max-width: 100%;
    margin: 2rem 0; 
}

.navbar__info-img {
    width: 33.33333%;
    display: inline-block;
}

.navbar__info-img img {
    width: 4.6rem;
    border-radius: 50%;
}

.navbar__info-introduce {
    width: 66.6666%;
    float: right;
}

.navbar__info-title {
    font-size: 1.5rem;
    font-weight: 400;  
}

.navbar__info-title span {
    font-weight: 700;
}

.navbar__info-icons i {
    padding: 0 1.1rem;
    font-size: 1.5rem;
}

.navbar__dashboard {
    padding: 0 1.6rem 2rem;
}

.navbar__dashboard h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar__dashboard-items {
    font-size: 1.5rem;
    padding: 1.2rem 1.6rem;
    list-style: none;
}

.navbar__dashboard-items a {
    color: var(--black-color);
    margin-left: 0.6rem;
}

.navbar__dashboard-items:first-child {
    color: var(--white-color);
}

.navbar__dashboard-items:first-child {
    background-color: var(--blue-color);
}

.navbar__dashboard-items:hover {
    background-color: var(--gray-color);
    cursor: pointer;    
}

/* content */
.content__title {
    padding: 22px 16.5px 0 0;
}

.content__title h1 {
    font-weight: 500;
    margin: 10px 0;
}

.content__info {
    padding-right: 16px;
}

.content__mess {
    background-color: var(--red-color);
    padding: 16px;
}

.content__view {
    background-color: var(--blue-color);
    padding: 16px;
}

.content__share {
    background-color: var(--green-color);
    padding: 16px;
}

.content__user {
    background-color: var(--yellow-color);
    padding: 16px;
}

.content__mess-icon {
    font-size: 48px;
    color: var(--white-color);
}

.content__mess-number {
    float: right;
    margin-top: 10px;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--white-color);
}

.content__mess-name {
    color: var(--white-color);
    margin: 15px 0;
    font-weight: 500;
    font-size: 2rem;
}

.content__region-img {
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}

.content__feed-info {
    padding: 8px 8px 8px 16px;
}

.content__feed-icon {
    float: left;
    font-size: 1.8rem;
}

.content__feed-icon--red {
    color: var(--red-color);
}

.content__feed-icon--blue {
    color: var(--blue-color);
}

.content__feed-icon--yellow {
    color: var(--yellow-color);
}

.content__feed-icon--green {
    color:  var(--green-color);
}

.content__feed-title {
    display: inline-block;
    margin-left: 40px;
    font-size: 1.5rem;
    vertical-align: top;
}

.content__feed-minute {
    float: right;
    font-size: 1.5rem;
    margin-right: 120px;
}

/* content general */
.content__new h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 15px 0;
}

/* content country */
.content__country-list {
    font-size: 1.5rem;
}

.content__country-item {
    height: 40px;
    line-height: 20px;
    padding: 8px 8px 8px 16px;
    border: 1px solid var(--border-color);
}

.content__country-item:hover {
    background-color: var(--gray-color) !important;
}

.content__country-item:not(:last-child) {
    border-bottom: none;
}

.content__more-country {
    padding: 11px 16px;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: #616161;
    border: none;
}

.content__more-country:hover {
    background-color: var(--gray-color);
    cursor: pointer;
    color: var(--black-color);
}

.content__more-country i {
    margin-left: 4px;
}

/* recent user */
.content__member-list {
    background-color: var(--white-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.content__member-item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
}

.content__member-img {
    width: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.content__member-name {
    font-size: 2.4rem;
}


/* recent comment */
.content__recent-info {
    align-items: center;
    margin-bottom: 10px;
}

.content__recent-img {
    border-radius: 50%;
    width: 96px;
}

.content__recent-title {
    margin: 10px 0;
}

.content__recent-title-name {
    font-size: 2rem;
}

.content__recent-title-calendar,
.content__recent-title-time {
    font-size: 1.5rem;
    opacity: 0.6;
}

.content__recent-desc {
    margin: 15px 0;
}

.content__recent-mess {
    font-size: 1.5rem;
}

/* content end */
.content__end {
    padding: 32px 24px 92px;
    background-color: #616161;
    color: var(--white-color);
}

.content__end-title {
    font-size: 1.8rem;
    margin: 10px 0;
}

.content__end-title--green {
    border-bottom: 6px solid var(--green-color);
}

.content__end-title--red {
    border-bottom: 6px solid var(--red-color);
}

.content__end-title--yellow {
    border-bottom: 6px solid var(--yellow-color);
}

.content__end-item {
    font-size: 1.5rem;
    margin: 15px 0;
}

/* footer */
.footer {
    padding: 16px;
}

.footer__heading {
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
}

.footer__name {
    font-size: 1.5rem;
    margin: 15px 0;
}

.footer__link {
    color: var(--black-color);
    margin-left: 4px;
    text-decoration: underline;
}
