:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --gray-color: #ccc;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    line-height: 1.6rem;
    font-size: 62.5%;
    font-family: Helvetica Neue,Helvetica,Arial,
    文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,
    LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei 
    UI,Microsoft JhengHei,sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* animation */
@keyframes fadeIn {
    from {
        transform: translateY(0%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        transform: scale(var(--growth-from));  
    }
    to {
       transform: scale(var(--growth-to));
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    background-color: var(--white-color);
    z-index: 100;
    border-radius: 5px;
    width: 500px;
    overflow: hidden;
    animation: Growth linear 0.1s;
}

.modal__title-link--login:hover,
.modal__policy-link:hover,
.btn--normal:hover,
.modal__title-link--register:hover,
.modal__policy-help-link:hover {
    opacity: 0.8;
}
