.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    line-height: 34px;
}

.header__navbar-list {
    display: flex;
}

.header__navbar-list,
.header__navbar-list > li > a {
    color: var(--white-color);
}

.header__navbar-item {
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
}

.header__navbar-user {
    display: flex;
    align-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: .0625rem solid rgba(0,0,0,.09);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
}

.header__navbar-user-menu {
    position: absolute;
    top: calc(100% - 7px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    z-index: 100;
    transform-origin: 112.812px top;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    animation: headerNavbarUser 0.2s cubic-bezier(.4,0,.6,1);
    display: none;
}

@keyframes headerNavbarUser {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__navbar-user-menu::before {
    content: "";
    display: block;
    border: 10px solid var(--white-color);;
    border-color: transparent transparent var(--white-color); transparent ;
    top: -20px;
    left: 70%;
    position: absolute;
}

.header__navbar-user-item {
    padding: 4px 16px;
}

.header__navbar-user-item:hover a {
    background-color: #f8f8f8;
    color: #4bc5b4;
}

.header__navbar-user-link {
    font-size: 1.5rem;
    color: var(--text-color);
}

.header__navbar-item:nth-child(2),
.header__navbar-item:nth-child(4) {
    margin-left: 8px;
}

.header__navbar-item:nth-child(4) {
    margin-right: 0;
}

.header__navbar-item:nth-child(3),
.header__navbar-item:nth-child(4) {
    font-size: 1.6rem;
    top: 1px;
}

.header__navbar-item i {
    margin: 0 3px;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--gray-color);
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item:nth-child(2) {
    cursor: default;
    color: var(--white-color);
}

/* QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link .header__qr-down-img {
    height: 1.6rem;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-left: 11px;
}

.header__navbar-item:hover .header__qr {
    display: block;
}

/* Notifications */
.header__notify {
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    transform-origin: 360.695px top;
    animation: headerNotifyGrowth ease-in 0.15s;
    will-change: opacity, transform;
    z-index: 1000;
}

.header__notify::before {
    content: "";
    display: block;
    border: 10px solid var(--white-color);;
    border-color: transparent transparent var(--white-color); transparent ;
    top: -20px;
    right: 30px;
    position: absolute;
}

.header__notify::after {
    content: "";
    display: block;
    width: 30%;
    height: 20px;
    position: absolute;
    top: -16px;
    left: 70%;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    cursor: default;
}

.header__notify-header h3 {
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 24px;
    line-height: 40px;
    color: #999;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-item:hover {
    background-color: #f9f9f9;
}

.header__notify-link {
    padding: 8px;
    display: flex;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 8px;
}

.header__notify-name {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__notify-desc {
    font-size: 1.2rem;
    color: #756f6e;
    margin-top: 4px;
    display: block;
}

.header__notify-footer {
    padding: 8px 0;
    text-align: center;
}

.header__notify-footer-btn {
    font-size: 1.4rem;  
    color: var(--text-color);
}

/* modal */
.modal__inner {
    padding: 0 32px;
    margin: 32px 0;
} 

.modal__title {
    display: flex;
    justify-content: space-between;
}

.modal__title-link {
    font-size: 1.6rem;
    color: var(--text-color);
}

.modal__title-link--strong {
    font-size: 2.2rem;
    cursor: text;
}

.modal__title-link--login,
.modal__title-link--register {
    color: var(--primary-color);
}

.modal__auth-form {
    padding: 0 32px;
}

.modal__input {
    display: block;
    margin-top: 16px;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.modal__policy {
    font-size: 1.2rem;
    padding: 0 12px;
    margin: 12px 0;
    text-align: center;
}

.modal__policy-forgot-link {
    color: var(--black-color);
}

.modal__policy-link,
.modal__policy-help-link {
    color: var(--primary-color);
}

.modal__policy--separate {
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.modal__control {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
} 

.btn {
    min-width: 124px;
    padding: 0 24px;
    height: 34px;
    font-size: 1.5rem;
    border: none;
    line-height: 34px;
}

.btn--normal {
    margin-left: 8px;
    cursor: pointer;
}

.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--disabled {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

.modal__footer {
    margin: 22px 0 0;
    padding: 16px 36px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

.modal__footer-link {
    font-size: 1.2rem;
    color: var(--white-color);
    padding: 0 8px;
    line-height: 32px;
}

.modal__footer-link:hover {
    background-color: var(--gray-color);
}

.modal__footer-link i {
    font-size: 1.4rem;
}

.modal__footer .modal__footer--size-s {
    height: 32px;
}

.modal__footer .modal__footer-title {
    margin: 0 36px;
}

.modal__footer-link--fb {
    background-color: #3a5a98;
}

.modal__footer-link--gg {
    color: #666;
    background-color: var(--white-color);
}

/* header width search */
.header-width-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    background-color: var(--white-color);
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* header cart */
.header__cart {
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    padding: 0 12px;
    display: inline-block;
    cursor: pointer;
    top: 8px;
}

.header__cart-list::after { 
    content: "";
    display: block;
    border: 10px solid var(--white-color);;
    border-color: transparent transparent var(--white-color); transparent ;
    top: -20px;
    right: 12px;
    position: absolute;
    cursor: pointer;
}

.header__cart-list::before {
    content: "";
    display: block;
    width: 30%;
    height: 20px;
    position: absolute;
    top: -16px;
    left: 70%;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__cart-notice {
    position: relative;
    border-radius: 4.4rem;
    font-size: 1.2rem;
    min-width: 11px;
    line-height: 14px;
    text-align: center;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
    top: -35px;
    left: 16px;
}

.header__cart-list {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% - 8px);
    right: 0;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: .125rem;
    width: 400px;
    display: none;
    transform-origin: 376px top;
    animation: headerCartGrowth 0.2s cubic-bezier(.4,0,.6,1);
    will-change: transform;
    cursor: default;
}

@keyframes headerCartGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__cart-list--no-cart {
    padding: 60px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart .header__cart-heading,
.header__cart-list--no-cart .header__cart-list-item,
.header__cart-list--no-cart .header__cart-view-cart {
    display: none;
}

.header__cart-no-cart-img {
    display: none;
    max-width: 100px;
    width: 100%;
}

.header__cart-list--no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    text-transform: capitalize;
}

.header__cart-heading {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: start;
    padding: 0 10px;
    line-height: 40px;
    color: rgba(0,0,0,.26);
    text-transform: capitalize;
    cursor: text;
}

.header__cart-list-item {
    margin: 0 0 10px ;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,.09);
    margin: 12px;
}

.header__cart-item-info {
    overflow: hidden;
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    overflow: hidden;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    color: var(--text-color);
    white-space: nowrap;
    line-height: 1.1;
    text-align: justify;
    cursor: text;
}

.header__cart-item-price {
    font-size: 1.3rem;
    margin-left: 40px;
    color: var(--primary-color);
    cursor: text;
}

.header__cart-view-cart {
    float: right;
    margin: 8px 12px 12px 0;
}

.header__cart-view-cart:hover {
    cursor: pointer;
    opacity: 0.9;
    will-change: opacity;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select::after {
    content: "";
    display: block;
    width: 78%;
    height: 17px;
    position: absolute;
    top: 11px;
    left: 16%;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1rem;
    color: #4a4a4a;
    position: relative;
    bottom: 1px;
    margin: 0 8px 0 4px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    width: 60px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 11px);
    width: 120px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn linear 0.3s;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 10px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: 118%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px var(--gray-color);
    display: none;
}

.header__search-history-heading {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 8px;
    color: #949494;
    margin: 12px 12px 0;
}

.header__search-history-item {
    font-size: 1.4rem;
    padding: 8px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    color: var(--text-color);
    display: block;
    line-height: 24px;
}

/* container */
.container .content {
    margin-top: 36px;
}

.category__heading {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading i {
    margin-right: 10px;
}

.category-item {
    padding: 8px 10px 8px 12px;
    cursor: pointer;
}

.category-item:hover a {
    color: var(--primary-color);
}

.category-item--active {
    position: relative;
}

.category-item--active a {
    color: var(--primary-color);
}

.category-item--active::before {
    content: "";
    display: inline-block;
    border: 5px solid var(--primary-color);
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: 0;
    margin-top: 2px;
}

.category__item-link {
    font-size: 1.4rem;
    color: var(--text-color);
}
