/* mobile & tablet */
@media  (max-width: 63.9375em) {
    .header {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header__cart-wrap,
    .header__cart-list::after,
    .header__cart-wrap:hover .header__cart-list {
        display: none;
    }

    .header__cart-wrap-mobile-tablet {
        display: flex !important;
    }

    .header__sort-bar {
        display: flex;
    }

    .home__controller-btn-next,
    .home__controller-btn-first-page,
    .home__controller-btn-prev,
    .home__controller-btn-two-page {
        margin: 0 4px;
    }

    .BV2E6Y {
        color: var(--text-color);
    }

    .d56atc {
        margin-bottom: 10px;
    }

    .Dc8l4L {
        font-size: 1rem;
    }

    .app__content {
        padding-bottom: 80px;
        padding-top: 18px;
    }
    
    .header__cart, .header__logo-link,
    .header__search-select, .home__controller-btn {
        -webkit-tap-highlight-color: transparent;
    }

    .footer__back {
        bottom: 30px;
        right: 10px;
    }
}

/* tablet */
@media  (min-width: 46.25em) and (max-width: 63.9375em) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }

    .EWPRwa {
        margin-bottom: 10px;
    }

    .SOb2n7 {
        text-align: center;
    }

    .JMCbqu {
        width: 100%;
        text-align: center;
    }

    .pkg67p,
    .D7qxb9 {
        justify-content: center;
    }

    .SOb2n7 .o8Gbgv {
        margin-bottom: 17px;
    }

    .SOb2n7 .o8Gbgv .mobile-icon {
        margin-right: 16px;
    }

    ._0lbTUw {
        margin-bottom: 10px;
        text-align: center;
    }
}

/* mobile */
@media (max-width: 46.1875em) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .header__logo-link {
        flex: 0;
        line-height: 0;
    }
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__search {
        height: 100%;
        flex: 1;
    }

    .header__search-container {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 1;
        height: var(--header-height);
        padding-left: 0;
        animation: mobileSearchSideIn ease-in 0.3s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__mobile-search {
        width: 66px;
        display: block;
    }

    .header__mobile-search-icon {
        padding-left: 4px;
        padding-right: 4px;
    }

    .header__search-checkbox:checked ~ .header__search-container {
        display: flex;
    }

    .header__cart {
        padding: 0 12px;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        left: 0;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .EWPRwa {
        border-bottom: 1px solid rgb( 0 0 0 / 20%);
        border-bottom-style: dashed;
    }

    .CpmibF {
        flex-wrap: wrap;
    }

    .footer__chat {
        display: none;
    }

    .d56atc {
        padding: 0 4px;
    }

    .d56atc:nth-child(2) {
        border-right: none;
    }

    .mobile-category {
        display: flex;
    }

    .header__logo-link svg {
        width: 110px;
    }

    .d56atc .footer__icon-mobile {
        display: inline-block;
    }
}